<h1>Editing song</h1>

<% form_for(@song) do |f| %>
  <%= f.error_messages %>
<% #maybe this will turn into a remove? %>
  <ul>
	<li>
    <%= f.label 'Name' %><br />
    <%= f.text_field :name %>
	</li>
	<li>
	<%= f.submit "Update" %>
	</li>
  </ul>

    

<% end %>

<%= link_to 'Show', @song %> |
<%= link_to 'Back', songs_path %> |
<%= link_to 'Destroy', @song, :confirm => 'Are you sure?', :method => :delete %>
