<h1>Editing song</h1>

<% form_for(@song) do |f| %>
  <%= f.error_messages %>
<% #maybe this will turn into a remove? %>
  <p>
    <%= f.label 'File' %><br />
    <%= f.file_field :mp3 %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @song %> |
<%= link_to 'Back', songs_path %>
