<h1>Songs</h1>

<% for song in @songs %>
  <a href="/songs/<%= song.id %>">
	<ul>
    	<li><%=h song.name %></li>
    	<li><%=h song.length %></li>
		<li><%=h song.album.title %></li>
	</ul>
  </a>
<% end %>


<br />

<%= link_to 'New song', new_song_path %>
