<a href="/songs/random">
	<div id="option">
  	play random songs
	</div>
</a>

<a href="/upload">
	<div id="option">
  	upload songs
	</div>
</a>

<br><br>

<% for song in @songs %>
  <a href="/songs/<%= song.id %>">
	<div class="song left">
		<ul>
	    	<li><%=h song.name %></li>
	    	<li><%=h song.artist.name %></li>
			<li><%=h song.album.title %></li>
			<li>play count: <%= song.play_count %></li>
		</ul>
	</div>
  </a>
<% end %>
