<h1><%=h @song.name %></h1>

<script type="text/javascript">
function getUpdate(typ,pr1,pr2,swf) { 
  if(typ == 'state' && pr1 == 3) { 
		window.location.href = "/songs/random";
	 }
};
</script>

<div class="song">

<%= render :partial => 'song', :locals => { :song => @song, :autostart => true } %>
	<div class="right">
		<ul>
			<li>
			<h2>
			<%= link_to 'skip ⇢', :action => 'random' %>
			</h2>
			</li>
		</ul>
	</div>
</div>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>


