<h1>Editing album</h1>

<% form_for(@album) do |f| %>
  <%= f.error_messages %>
	<ul>
	  <li>
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </li>
	  <li>
	    <%= f.label :year %><br />
	    <%= f.text_field :year %>
	  </li>
	  <li>
	    <%= f.submit "Update" %>
	  </li>
	</ul>
<% end %>

<%= link_to 'Show', @album %> |
<%= link_to 'Back', albums_path %>
