<h1><%=h @album.title %> (<%=h @album.year %>)</h1>


<% for song in @album.songs %>
	<%= render :partial => "songs/song", :locals => { :song => song } %>
<% end %>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
