<p>
  <b>Title:</b>
  <%=h @album.title %>
</p>

<p>
  <b>Year:</b>
  <%=h @album.year %>
</p>

<p>
	<b>Songs:</b><br>
	<% for song in @album.songs %>
		<%= link_to song.name, song %><br>
	<% end %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
