

<h1><%=h @album.title %> (<%=h @album.year %>)</h1>

<%# media_player(:file => @album.songs.first.mp3) %>

<% @album.songs.each_with_index do |song, index| %>
	<div class="song">
		<%= render :partial => "songs/song", :locals => { :song => song, :autostart => (song==@album.songs.first), :onend => player_event(:playpause, :player => @album.songs[index].id ) } %>
	</div>

	
<% end %>






<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
